*{
    scroll-behavior: smooth;
}
.font-inter{
    font-family:  "Inter", sans-serif;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
}
.custom_container{
    max-width: 1200px;
}
#TicketContainer ul{
    display: flex;
    justify-content: space-between;
}
#TicketContainer ul li{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
#discount_container{
    display: flex;
    justify-content: space-between;
}
#discount_container h3{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 600;
}
#discount_container h4{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 600;
}